
.env

ghactionsSA-key.json

/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup


*.tfstate


github-actions-deployer-key.json

*__pycache__


