
.env

/data/

ghactionsSA-key.json

*/.terraform/
*/.terraform.lock.hcl
*/terraform.tfstate
*/terraform.tfstate.backup
terraform/hub/terraform.tfstate.backup
terraform/hub/terraform.tfstate.backup
/terraform/hub/.terraform/
*.tfstate


github-actions-deployer-key.json

*__pycache__


fastapi-sa-key.json

*tfstate.lock.info*


terraform-key.json

personalhub13-sa.json

terraform-sa-key.json



.terraform/
.terraform/


*/.next/

*/node_modules/
