
.env
/env/
/.vscode/

/data/

ghactionsSA-key.json

*/.terraform/
*/.terraform.lock.hcl

*/terraform.tfstate.backup
terraform/hub/terraform.tfstate.backup
terraform/hub/terraform.tfstate.backup
/terraform/hub/.terraform/



github-actions-deployer-key.json

*__pycache__


fastapi-sa-key.json

*tfstate.lock.info*


terraform-key.json

personalhub13-sa.json

terraform-sa-key.json



.terraform/
.terraform/


*/.next/

*/node_modules/

terraform.tfstate.backup

.terraform.lock.hcl

terraform/build/personalhub14-terraform-sa-key.json



*/node_modules/


